.nav {
  background-image: url("../../../public/src/fondonav.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 190px;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0));
}

.navs {
  display: flex;
  cursor: pointer;
  width: 100%;
  grid-template-columns: 150px 850px 150px;
  justify-items: stretch;
  align-items: stretch;
  justify-content: space-between;
}

.left {
  width: 9%;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.home {
  background-image: url("../../../public/src/home.png");
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}

.ccreate {
  width: 60px;
  height: 30px;
  flex-direction: row;
  align-items: center;
  display: inline-flex;
  padding: 5px;
  border-radius: 50px;
  transition: 1s;
}
.ccreate:hover {
  width: 240px;
  backdrop-filter: blur(3);
  background: rgba(255, 255, 255, 0.45);
}
.ccreate:hover input {
  max-width: 180px;
}
.ccreate:hover option {
  max-width: 60px;
}
.ccreate:hover select {
  max-width: 180px;
}

.ccreate input {
  background: transparent;
  border: 0;
  max-width: 0;
  padding: 0;
  text-indent: 12px;
  color: rgb(30, 30, 30);
  font-size: 18px;
  font-family: "Lobster Two", regular;
  outline: none;
  transition: 1s;
}

.ccreate option {
  border: 0;
  max-width: 0;
  padding: 0;
  text-indent: 12px;
  color: rgb(30, 30, 30);
  font-size: 14px;
  font-family: "Lobster Two", regular;
  outline: none;
  transition: 1s;
}

.create {
  background-image: url("../../../public/src/create.png");
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}

.center {
  display: flex;
}

.logo {
  width: 470px;
}

.right {
  width: 9%;
  font-size: 12px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.about {
  background-image: url("../../../public/src/about.png");
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}

.filter {
  background-image: url("../../../public/src/filter.png");
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}
.ccreate select {
  background: transparent;
  border: 0;
  max-width: 0;
  padding: 0;
  text-indent: 0px;
  color: rgb(30, 30, 30);
  font-size: 15px;
  font-family: "Lobster Two", regular;
  outline: none;
  text-align: left;
  transition: 1s;
}
.selected {
  background-color: rgb(221, 220, 220)
}

.sort {
  background-image: url("../../../public/src/sort.png");
  background-size: 3em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
}

.AASC {
  background-image: url("../../../public/src/sort-az.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}

.ADSC {
  background-image: url("../../../public/src/sort-za.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}

.HASC {
  background-image: url("../../../public/src/Sort-19.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}

.HDSC {
  background-image: url("../../../public/src/Sort-91.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
  padding: 5px;
}