.nav {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navs {
    display:grid;
    cursor: pointer;
    width: 100%;
    grid-template-columns: 150px 850px;
}

.container {
    width: 120px;
    font-size: 15px;
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.25);
    border-style: ridge;
 
}

.menu:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    background-color: rgba(255, 255, 255, 0.25);
    font-size: 14px;
    border-style: inset;
    justify-content: flex-start;
}

.submenu:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

/* .submenu option:hover {
    background-color: rgba(255, 255, 255, 0.75);
} */

.orden {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;
    left: 10px;
    width: 100px;
    
}
.orden:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.health {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    justify-content: flex-start;
    left: 10px;
    width: 100px;
    
}

.health:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

.check {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px;
  /* grid-template-columns: 100%; */
  font-size: 12px;
  justify-items: start;
  background-color:  rgba(255, 255, 255, 0.25);
  /* color: white; */
  cursor: pointer;
  border-style: inset;
  font-weight: bold;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  /* height: 60px; */
}

.button {
  font-size: 30px;
  background-color: transparent;
  border-color: transparent;
}

.logo {
  width: 300px;
}

.filtros {
    cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

.filtros:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}


.revIcon {
  transform: rotateY(180deg);
}
