.paginado {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("../../../public/src/paginado.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 20px;
    text-align: center;
    width: auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0));
   
}

.paginado ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.45);
}
.paginado a {
    cursor: pointer;
    display: flex;
    width: 30px;
    text-align: center;
    justify-content: center;
}

.primero {
    background-image: url('../../../public/src/primero.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.45);
    border-color: transparent;
    border-radius: 50px 0px 0px 50px;
    margin-left: 5px;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.anterior {
    background-image: url('../../../public/src/anterior.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.45);
    border-color: transparent;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.siguiente {
    background-image: url('../../../public/src/siguiente.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.45);
    border-color: transparent;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.ultimo {
    background-image: url('../../../public/src/ultimo.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.45);
    border-color: transparent;
    border-radius: 0px 50px 50px 0px;
    margin-right: 5px;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.current {
    backdrop-filter: blur(3);
    background-color: rgb(0, 0, 0, 0.75);
    border-radius: 50%;
    color: yellow;
    font-weight: bold;
}
