.about {
  margin-top: 15px;
  display: flex;
  color: wheat;
  flex-direction: column-reverse;
  align-items: center;
}

.about2 {
  width: 50%;
  background-color: rgb(23, 33, 42);
  border-radius: 25px;
}
.about2 h3 {
  transform: rotate(-10deg);
  width: 1%;
  position: relative;
  left: 70%;
}

.h2 {
  color: yellow;
  font-family: "Lobster Two", regular;
  font-size: xx-large;
}

.span {
  opacity: 100;
}

.link {
  color: yellow;
  font-weight: bold;
  background-color: black;
}

.firma {
  font-family: "Sacramento";
  font-size: 30px;
  color: yellow;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button {
  background-image: url("../../../public/src/atras.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: yellow;
  border-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  left: 22%;
  top: -70px;
}
