.div {
  /* background-image: url("../../../public/src/recipe.jpg"); */
  /* background-size: 33em; */
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  width: 500px;
  height: 350px;
  display: flex;
  /* border-color: black; */
  /* border-style: double; */
  /* position: relative; */
  /* margin: 15px; */
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
}

.luis {
  /* filter: drop-shadow(2px 4px 6px rgba(0, 0, 0)); */
  transform-style: preserve-3d;
  transition: 1s ease;
  width: 50%;
  height: 80%;
  cursor: pointer;
}

.recipe {
  background-image: url("../../../public/src/pagina.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  position: relative;
  left: 10px;
  align-items: center;
  justify-content: space-between;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0));
}

.back {
  background-image: url("../../../public/src/pagina2.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 100%;
  transform: rotateY(180deg);
  position: absolute;
  top: 0px;
  left: 17px;
  align-items: flex-start;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-size: 14px;
  text-align: start;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0));
}

.img {
  width: 180px;
  /* height: 180px; */
  left: 5px;
  position: relative;
  border-color: black;
  border-style: double;
}

.title {
  font-size: 13px;
  width: 175px;
  text-decoration: underline;
  text-decoration-style: double;
  position: relative;
  left: 10px;

}

.health {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  background-color: green;
  border-color: rgb(6, 207, 23);
  border-style: double;
  border-radius: 5px;
  color: white;
  padding: 2px;
}
.midHealth {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  background-color: orange;
  border-color: yellow;
  border-style: double;
  border-radius: 5px;
  color: black;
  padding: 2px;
}
.noHealth {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  background-color: maroon;
  border-color: red;
  border-style: double;
  border-radius: 5px;
  color: white;
  padding: 2px;
}

.back span {
  position: relative;
  
}

.dish {
  width: 75%;
  position: relative;
  left: 20px;
  /* text-align: start; */
}

.diet {
  width: 75%;
  position: relative;
  left: 20px;
  /* text-align: start; */
}

.luis:hover {
  transform: rotateY(180deg);
  transition: 1s ease;
}

.icon {
  font-size: 28px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  left: 109px;
  /* bottom: 7px; */
  cursor: pointer;
  text-align: justify;
  width: 45%;
  border-radius: 50%;
}
.icon div:hover {
  border-radius: 50%;
  backdrop-filter: sepia(100);
}
