.container {
width: 60px;
height: 30px;
flex-direction: row;
align-items: center;
display: inline-flex;
padding: 5px;
border-radius: 50px;
transition: 1s;
}
.container:hover {
  width: 240px;
  backdrop-filter: blur(3);
  background: rgba(255, 255, 255, 0.45);
}
.container:hover input {
  max-width: 180px;
}

.container input {
  background: transparent;
  border: 0;
  max-width: 0;
  padding: 0;
  text-indent: 12px;
  color: rgb(30, 30, 30);
  font-size: 18px;
  font-family: "Lobster Two", regular;
  outline: none;
  transition: 1s;
}


.button {
    background-image: url("../../../public/src/search.png");
  background-size: 2em;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 37px;
  border-radius: 50%;
}
